<div class = "container panel panel-primary">
	<h1 class = "panel-heading">Create New Rule</h1>
<%= render 'form' %>
<br>
<div class = "container">
<%= link_to 'Back', rules_engines_path, :class => "btn btn-info control-group" %>
</div>
<br>
</div>
