.result_table table tr{
  background-color:"#999999";
  margin:5px;padding:0px;
  align: left;
  font: 16px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  border:1px solid #000000;
  }
  .result_table table td{
  background-color:"#999999";
  margin:5px;padding:0px;
  align: left;
  font: 16px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  border:1px solid #111111;
  }
.result_table table{
  background-color:"#999999";
  margin:5px;padding:0px;
  align: left;
  font: 16px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  border:1px solid #000000;
  width:90%;
}