<h1>AppSetup#edit</h1>
<div>
	<div class="navbar-form navbar-left" >
		<div class="form-group">
			<input id= "app_name" type="listbox" class="form-control" placeholder="Application Name">
		</div>
		<div class="btn-group" data-toggle="buttons">
			<label class="btn btn-primary active">
				<input type="radio" name="environment" id="option1" value = "PROD" autocomplete="off" checked>
				PROD </label>
			<label class="btn btn-primary">
				<input type="radio" name="environment" id="option2" value = "STAGE" autocomplete="off">
				STAGE </label>
			<label class="btn btn-primary">
				<input type="radio" name="environment" id="option3" value = "EBF" autocomplete="off">
				EBF </label>
		</div>
	</div>
</div>
<p></p>
<div id = "URI">
	<div class="container-fluid" >
		<div class="form-group">
			<input id = "uri" type="textarea" class="form-control" placeholder="URI">
		</div>
		<div class="form-group">
			<textarea id = "req_hdr" class="form-control" rows="5" id="req-headers" placeholder="Request Headers"></textarea>
			<p></p>
			<textarea id = "req_json" class="form-control" rows="10" id="req-json" placeholder="Request JSON"></textarea>
		</div>
		<table class="table table-caption"><tr>
		<td><div class="form-group">
			<div class="btn-group" data-toggle="buttons">
				<label class="btn btn-primary active">
					<input type="radio" name="rest_method" id="option1" value = "GET" autocomplete="off" checked>
					GET </label>
				<label class="btn btn-primary">
					<input type="radio" name="rest_method" id="option2" value = "POST" autocomplete="off">
					POST </label>
				<label class="btn btn-primary">
					<input type="radio" name="rest_method" id="option3" value = "PUT" autocomplete="off">
					PUT </label>
			</div></td>
			<td><%= button_to 'Test Connection', {:controller => "app_setup", :action => "save_record" }, class: "form-group btn btn-info", remote: true %></td>
			<td><%= button_to 'Save', {:controller => "app_setup", :action => "save_record" }, class: "form-group btn btn-success", remote: true %></td>
		</tr></table></div>
	</div>

</div>

