<!DOCTYPE html>
<html>
	<head>
		<title>Json - One tool to rule them all</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class = "container">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<i class="fa fa-bars fa-lg"></i>
						</button>
						<a class="navbar-brand" href="/home"><i class="fa fa-home fa-lg"></i></a>
					</div>

					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li>
								<a href="/JSON_PORTAL/RestAPI/"><i class="fa fa-lg fa-arrow-right"></i> Rest Client</a>
							</li>
							<li>
								<a href="/JSON_PORTAL/format/"><i class="fa fa-lg fa-cogs"></i> Format JSON</a>
							</li>
							<li class="dropdown-split-left">
								<a href="/JSON_PORTAL/list"><i class="fa fa-lg fa-link"></i> Rest URLS</a>
							</li>
							<li class="dropdown dropdown-split-right hidden-xs">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-lg fa-caret-down"></i> </a>
								<ul class="dropdown-menu pull-right">
									<li>
										<a href="/JSON_PORTAL/create/"><i class="fa fa-lg fa-plus fa-fw"></i>&nbsp; Create</a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="/JSON_PORTALS/search/"><i class="fa fa-lg fa-search fa-fw"></i>&nbsp; Search</a>
									</li>

								</ul>
							</li>
							<li class="dropdown-split-left">
								<a href="/rules_engines/"><i class="fa fa-lg fa-random"></i> Rules Engine</a>
							</li>
							<li class="dropdown dropdown-split-right hidden-xs">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-lg fa-caret-down"></i> </a>
								<ul class="dropdown-menu pull-right" >
									<li>
										<a href="/rules_engines/new/"><i class="fa fa-lg fa-plus fa-fw"></i>&nbsp; Create</a>
									</li>
									<li class="divider"></li>
									<li>
									<li>
										<a href="/rules_engine/search/"><i class="fa fa-lg fa-search fa-fw"></i>&nbsp; Search</a>
									</li>

								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</nav>

		<div class="container container-fluid">
			<%= yield %>
		</div >
		<div class="appcontainer text-center">
			<footer>
				<hr>
				<p>
					© Sudo
				</p>
			</footer>
		</div>
	</body>
</html>
