<!DOCTYPE html>
<html>
	<head>
		<title>Json - One tool to rule them all</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div class = "hazeWidth">
			<div class="navbar navbar-inverse navbar-static-top hidden-print">
				<p class="label">
					JSON Tool
				</p>
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<i class="fa fa-bars fa-lg"></i>
						</button>
						<a class="navbar-brand" href="/home"><i class="fa fa-home fa-lg"></i></a>
					</div>

					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li>
								<a href="/JSON_PORTAL/RestAPI/"><i class="fa fa-lg fa-arrow-right"></i> Rest Client</a>
							</li>
							<li>
								<a href="/JSON_PORTAL/format/"><i class="fa fa-lg fa-cogs"></i> Format JSON</a>
							</li>
							<li class="dropdown-split-left">
								<a href="/JSON_PORTAL/list"><i class="fa fa-lg fa-link"></i> Rest URLS</a>
							</li>
							<li class="dropdown dropdown-split-right hidden-xs">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-lg fa-caret-down"></i> </a>
								<ul class="dropdown-menu pull-right">
									<li>
										<a href="/JSON_PORTAL/create/"><i class="fa fa-lg fa-plus fa-fw"></i>&nbsp; Create</a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="/JSON_PORTAL/Edit"><i class="fa fa-lg fa-pencil-square-o fa-fw"></i>&nbsp; Edit</a>
									</li>
									<li>
										<a href="./icons/#web-application"><i class="fa fa-lg fa-trash-o  fa-fw"></i>&nbsp; Delete</a>
									</li>
									<li>
										<a href="./icons/#hand"><i class="fa fa-lg fa-search fa-fw"></i>&nbsp; Search</a>
									</li>

								</ul>
							</li>
							<li class="dropdown-split-left">
								<a href="/JSON_PORTAL/list"><i class="fa fa-lg fa-random"></i> Rules Engine</a>
							</li>
							<li class="dropdown dropdown-split-right hidden-xs">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-lg fa-caret-down"></i> </a>
								<ul class="dropdown-menu pull-right" >
									<li>
										<a href="/JSON_PORTAL/create/"><i class="fa fa-lg fa-plus fa-fw"></i>&nbsp; Create</a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="/JSON_PORTAL/Edit"><i class="fa fa-lg fa-pencil-square-o fa-fw"></i>&nbsp; Edit</a>
									</li>
									<li>
										<a href="./icons/#web-application"><i class="fa fa-lg fa-trash-o  fa-fw"></i>&nbsp; Delete</a>
									</li>
									<li>
										<a href="./icons/#hand"><i class="fa fa-lg fa-search fa-fw"></i>&nbsp; Search</a>
									</li>

								</ul>
							</li>
					</div>
				</div>
			</div>
			<div class="microsoft marquee">
				JSON Tool
			</div>

			<div class="container">
				<%= yield %>
			</div >
			<div class="appcontainer text-center">
				<footer>
					<hr>
					<p>
						© Sudo
					</p>
				</footer>
			</div>
		</div>

	</body>
</html>
